{block content}
    <h1 n:block="title">Homepage</h1>
	<a n:href="Post:manipulate" n:if="$user->isLoggedIn()">Napísať nový príspevok</a>
	<div class="post" n:foreach="$posts as $post">
		<div class="date">{$post->created_at|date:'F j, Y'}</div>

		<h2><a n:href="Post:show $post->id">{$post->title}</a></h2>

		<div>{$post->content}</div>
	</div>


