<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Bol pridaný nový článok</title>
</head>

<body>
	<h2>Bol pridaný nový článok na Vašom webe</h2>
	<p>Dobrý deň, na Vašom webe bol práve pridaný článok s názvom: {$title}</p>
	<p><a n:href="Post:show $id">Prejsť na článok</a></p>
</body>
</html>
